<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Renderverse</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
      * {
        font-family: Staatliches;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      #chartdiv {
        margin: auto;
        display: block;
        min-height: 60vh;
        max-width: 100vw;
        overflow: hidden;
        display: flex;
      }
      body {
        background-color: black;
      }
    </style>
  </head>

  <body>
    <div id="chartdiv"></div>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script>
      am5.ready(function () {
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([am5themes_Animated.new(root)]);

        // Create chart
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
        var chart = root.container.children.push(
          am5percent.PieChart.new(root, {
            radius: am5.percent(80),
            innerRadius: am5.percent(55),
            layout: root.horizontalLayout,
          })
        );

        // Create series
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
        var series = chart.series.push(
          am5percent.PieSeries.new(root, {
            name: "Series",
            valueField: "value",
            categoryField: "key",
          })
        );

        // Set data
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
        series.data.setAll([
          {
            key: "Lithuania",
            value: 501.9,
          },
          {
            key: "Czechia",
            value: 301.9,
          },
          {
            key: "Australia",
            value: 139.9,
          },
          {
            key: "Austria",
            value: 128.3,
          },
          {
            key: "UK",
            value: 99,
          },
          {
            key: "Belgium",
            value: 60,
          },
          {
            key: "The Netherlands",
            value: 50,
          },
        ]);

        // Disabling labels and ticks
        series.labels.template.set("visible", false);
        series.ticks.template.set("visible", false);

        // Adding gradients
        series.slices.template.set("strokeOpacity", 2);
        series.slices.template.set(
          "fillGradient",
          am5.RadialGradient.new(root, {
            stops: [
              {
                brighten: 1,
              },
              {
                brighten: 0.2,
              },
              {
                brighten: -0.5,
              },
              {
                brighten: 0,
              },
              {
                brighten: -0.5,
              },
            ],
          })
        );

        // Play initial series animation
        // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
        series.appear(1000, 100);
      }); // end am5.ready()
    </script>
  </body>
</html>
