<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Renderverse</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
      * {
        font-family: Staatliches;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      #chartdiv {
        margin: auto;
        display: block;
        min-height: 60vh;
        max-width: 100vw;
        overflow: hidden;
        display: flex;
      }
      body {
        background-color: black;
      }
    </style>
  </head>

  <body>
    <div id="chartdiv"></div>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script>
      am5.ready(function () {
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([am5themes_Animated.new(root)]);

        // Create chart
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
        var chart = root.container.children.push(
          am5percent.PieChart.new(root, {
            radius: am5.percent(80),
            innerRadius: am5.percent(55),
            layout: root.horizontalLayout,
          })
        );

        // Create series
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
        var series = chart.series.push(
          am5percent.PieSeries.new(root, {
            name: "Series",
            valueField: "value",
            categoryField: "key",
          })
        );

        series
          .get("colors")
          .set("colors", [
            am5.color(0xe9433e),
            am5.color(0xfc8147),
            am5.color(0xffa357),
            am5.color(0xffcd98),
            am5.color(0x96B6C5),
            am5.color(0x5ce0e6),
            am5.color(0x5ce1e7),
            am5.color(0x7fe5d2), 
            am5.color(0xffffff), 
          ]);

        // Set data
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
        series.data.setAll([
          {
            key: "ECOSYSTEM AND STAKING REWARDS",
            value: 30,
          },
          {
            key: "PRESALE",
            value: 20,
          },
          {
            key: "MARKETING",
            value: 15,
          },
          {
            key: "LIQUIDITY",
            value: 12,
          },

          {
            key: "CEX LISTING",
            value: 9,
          },
          {
            key: "NULS SCO",
            value: 5,
          },
          {
            key: "ADVISORS",
            value: 4,
          },
          {
            key: "AIR DROPS AND GIVEAWAYS",
            value: 3,
          },
          {
            key: "PARTNERSHIP",
            value: 2,
          },
        ]);

        // Disabling labels and ticks
        series.labels.template.set("visible", false);
        series.ticks.template.set("visible", false);

        // Adding gradients
        series.slices.template.set("strokeOpacity", 2);
        series.slices.template.set(
          "fillGradient",
          am5.RadialGradient.new(root, {
            stops: [
              {
                brighten: 1,
              },
              {
                brighten: 0.5,
              },
              {
                brighten: 1,
              },
              {
                brighten: -0.7,
              },
            ],
          })
        );
        // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
        series.appear(1000, 100);
      });
      am5.ready();
    </script>
  </body>
</html>
