@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne+Mono&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.bg_img {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23526d82' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}

.corner {
  position: relative;
}

.corner::before {
  content: "";
  position: absolute;
  top: -57px;
  right: -57px;
  width: 113px;
  height: 113px;
  transform: rotate(45deg);
  background: white;
  display: inline-block;
}
