@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne+Mono&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.bg_img {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23526d82' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}

.grad_txt {
  /** TEXT GRADIENT */
  color: #526d82;
  background-image: -webkit-linear-gradient(
    0deg,
    #526d82 0%,
    #5ce1e6 17%,
    #ffbd59 69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  padding: 30px;
  color: #5ce1e6 !important;
  fill: #5ce1e6 !important;
  stroke: #5ce1e6 !important;
  transition: all 200ms ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffe6c7 !important;
  fill: #ffe6c7 !important;
  stroke: #ffe6c7 !important;
  transition: all 200ms ease;
  transform: scale(0.8) rotate(180deg);
}
