@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne+Mono&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.bg_img {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23526d82' fill-opacity='0.81' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.grad_txt {
  color: #526d82;
  background-image: -webkit-linear-gradient(
    0deg,
    #526d82 0%,
    #5ce1e6 17%,
    #ffbd59 69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  padding: 30px;
  color: #5ce1e6 !important;
  fill: #5ce1e6 !important;
  stroke: #5ce1e6 !important;
  transition: all 200ms ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffe6c7 !important;
  fill: #ffe6c7 !important;
  stroke: #ffe6c7 !important;
  transition: all 200ms ease;
  transform: scale(0.8) rotate(180deg);
}

.gbox {
  --border-size: 3px;
  --border-angle: 0turn;
  padding: 0 2rem;
  background-image: conic-gradient(
      from var(--border-angle),
      #1f2b33,
      #153f51 50%,
      #1f2b33
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #2e86ab, #f24236);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.gbox:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6cad96;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #6cad96;
  }
  28% {
    transform: translateY(-7px);
    background-color: #9ecab9;
  }
  44% {
    transform: translateY(0px);
    background-color: #b5d9cb;
  }
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #526d82; /* color of the scroll thumb */
}

body,
html {
  z-index: 1000;
}

#scroll-down-animation {
  z-index: 1200;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse {
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 2px solid #5ce1e6;
  height: 100px;
  width: 50px;
  position: relative;
}

.move {
  position: absolute;
  background-color: #1f2b33;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 40px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 80px);
    opacity: 0;
  }
}

.arrow_move {
  cursor: pointer;
  animation: arrow_m 1.2s infinite ease-in-out;
}

@keyframes arrow_m {
  50% {
    transform: translateY(-30px) scale(1.1);
  }
}

.c_line {
  width: 77vh;
  height: 100px;
  border: solid 4px #5ce1e6;
  border-color: #5ce1e6 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
  transform: rotate(90deg) translateX(25vh);
  position: absolute;
  left: "80%";
}

.neu_button_text {
  color: #ff9b50;
  background-image: -webkit-radial-gradient(
    circle,
    #ff9b50 29%,
    #e25e3e 80%,
    #c63d2f 86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.fade_effect {
  animation: fade infinite 4s;
}

.normal_effect {
  animation: fade0 infinite 4s;
}

@keyframes fade0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
